
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">
	<http auto-config="true">

		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/user**" access="hasRole('ROLE_USER')" />
		

		<!-- access denied page -->
		<access-denied-handler error-page="/403" />

		<form-login login-page="/login" authentication-success-forward-url="/index" login-processing-url="/spring_security_check"
			authentication-failure-url="/login?error" username-parameter="username"
			password-parameter="password" />

		<logout logout-url="/spring_security_logout"
			logout-success-url="/login?logout" invalidate-session="true" />

		<!-- enable csrf protection -->
		<csrf disabled="true" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select login, password, 
 		true from personne where login = ?"
				authorities-by-username-query="select login,role from personne where login = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>